<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}GhostHub{% endblock %}</title>
<link rel="stylesheet" href="{{ base_path }}/static/github-dark.min.css">
<link rel="stylesheet" href="{{ base_path }}/static/style.css">
<script src="{{ base_path }}/static/markdown-it.min.js" defer></script>
<script src="{{ base_path }}/static/highlight.min.js" defer></script>
<script src="{{ base_path }}/static/htmx.min.js" defer></script>
<script src="{{ base_path }}/static/sse.js" defer></script>
<script src="{{ base_path }}/static/upload.js" defer></script>
<script src="{{ base_path }}/static/p2p.js" defer></script>
<script src="{{ base_path }}/static/app.js" defer></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
